@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
  --main-color: #a7cfe8;
  --blue-color: #315e8b;
  --white-color: #efefef;
  --brown-color: #251605;
  --grey-color: #ab9b96;
  --silver-color: #848c8e;
  --green-color: #a8cebc;
  --pot-color: #e4c6aa;
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

#navbar {
  transition: 0.8s;
}

a {
  color: var(--brown-color) !important;
}

.link {
  color: var(--brown-color);
  margin: 0px 25px 0px 0px;
}

.link:hover {
  color: var(--silver-color);
}

.home {
  position: relative;
  height: 95vh;
  background-image: url('./images/laptop.png');
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--brown-color);
  font-family: Montserrat;
}

p {
  color: var(--grey-color);
  font-size: 14;
}

.projectImg {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.projectImg:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

.button {
  background: white !important;
}

.button:hover {
  background: var(--blue-color) !important;
}

.sectionTitle:after {
  content: '';
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 2px;
  width: 80px;
  background: var(--blue-color);
}

.sectionTitle {
  font-size: 40px;
  margin: 25px 0 50px 0;
  color: var(--brown-color);
}

.sectionSubtitle {
  position: relative;
  font-size: 20px;
  margin: 25px 0 25px 0;
  color: var(--brown-color);
}

.rowPorfolio {
  margin-bottom: 50px;
}

.sectionSubtitle:after {
  content: '';
  position: absolute;
  top: 120%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 2px;
  width: 30px;
  background: var(--blue-color);
}

li {
  margin-left: 15px;
}

@media only screen and (max-width: 576px) {
  .sm-mt {
    margin-top: 25px;
  }

  .sm-mb {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .md-mt {
    margin-top: 25px;
  }

  .md-mb {
    margin-bottom: 25px;
  }
}
